/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #ff9904;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-transform: lowercase;
}

.name {
  text-transform: uppercase;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('images/leaves.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
  background: url('images/profile2.jpg');
  background-size: 150px 150px;
}
header .profile-image:hover, .logo:hover {
  transform: scale(1.2) rotate(5deg);
  border-color: #0399ff;
  background-image: url('images/profile.jpg');
}
header div {
  margin: 100px;
  display: inline-block;
}

.logo {
  width: 150px;
  transition: all .5s;
}
.logo:hover {
  border-color: initial;
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #222;
  color: #0399ff;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #0399ff;
}
.card h2 {
  text-align: center;
}

.exp h2 {
  text-transform: lowercase;
  font-variant: small-caps;
  margin-top: 50px;
  border-bottom: 1px solid black;
}

.exp h1 {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.card img {
  border-radius: 10px;
  max-height: 360px;
}

.card h3 {
  font-weight: 200;
  font-size: 1.25em;
  text-transform: lowercase;
  line-height: 1em;
  text-align: center;
  margin: 0;
  padding: 5px;
}

td {
  padding-right: 10px;
}

.italic, .card h3{
  font-style: italic;
}

.bold-skills {
  margin-top: 25px;
  margin-left: -10px;
  font-variant: small-caps;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.exp:last-of-type{
  position: relative;
  z-index: -1;
}
#person {
  position: absolute;
  bottom: 25px;
  right: 50%;
  font-style: italic;
  font-size: .75em;
}

ul li, ol li {
  list-style-type: none;
  padding: 5px;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.insta {
  background-image: url(images/insta.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

td img {
  max-width: 40px;
  max-height: 40px;

}


/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
      flex-wrap: wrap;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  .card {
    width: 500px;
  }

  .card p {
    line-height: 1.6em;
  }


  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

